.pi{
-webkit-mask-position: center;
mask-position: center;
}
.pi::before {
content: "\25A2";
background: currentColor;
line-height: 1;
font-family: serif;
font-style: normal;
}
.pi-adjust{
-webkit-mask-image: url(AdjustIcon.svg);
mask-image: url(AdjustIcon.svg);
}
.pi-affiliate{
-webkit-mask-image: url(AffiliateIcon.svg);
mask-image: url(AffiliateIcon.svg);
}
.pi-airplane{
-webkit-mask-image: url(AirplaneIcon.svg);
mask-image: url(AirplaneIcon.svg);
}
.pi-alert-bubble{
-webkit-mask-image: url(AlertBubbleIcon.svg);
mask-image: url(AlertBubbleIcon.svg);
}
.pi-alert-circle{
-webkit-mask-image: url(AlertCircleIcon.svg);
mask-image: url(AlertCircleIcon.svg);
}
.pi-alert-diamond{
-webkit-mask-image: url(AlertDiamondIcon.svg);
mask-image: url(AlertDiamondIcon.svg);
}
.pi-alert-triangle{
-webkit-mask-image: url(AlertTriangleIcon.svg);
mask-image: url(AlertTriangleIcon.svg);
}
.pi-app-extension{
-webkit-mask-image: url(AppExtensionIcon.svg);
mask-image: url(AppExtensionIcon.svg);
}
.pi-apps-filled{
-webkit-mask-image: url(AppsFilledIcon.svg);
mask-image: url(AppsFilledIcon.svg);
}
.pi-apps{
-webkit-mask-image: url(AppsIcon.svg);
mask-image: url(AppsIcon.svg);
}
.pi-archive{
-webkit-mask-image: url(ArchiveIcon.svg);
mask-image: url(ArchiveIcon.svg);
}
.pi-arrow-diagonal{
-webkit-mask-image: url(ArrowDiagonalIcon.svg);
mask-image: url(ArrowDiagonalIcon.svg);
}
.pi-arrow-down{
-webkit-mask-image: url(ArrowDownIcon.svg);
mask-image: url(ArrowDownIcon.svg);
}
.pi-arrow-left{
-webkit-mask-image: url(ArrowLeftIcon.svg);
mask-image: url(ArrowLeftIcon.svg);
}
.pi-arrow-right{
-webkit-mask-image: url(ArrowRightIcon.svg);
mask-image: url(ArrowRightIcon.svg);
}
.pi-arrow-up{
-webkit-mask-image: url(ArrowUpIcon.svg);
mask-image: url(ArrowUpIcon.svg);
}
.pi-arrows-in-horizontal{
-webkit-mask-image: url(ArrowsInHorizontalIcon.svg);
mask-image: url(ArrowsInHorizontalIcon.svg);
}
.pi-arrows-out-horizontal-filled{
-webkit-mask-image: url(ArrowsOutHorizontalFilledIcon.svg);
mask-image: url(ArrowsOutHorizontalFilledIcon.svg);
}
.pi-arrows-out-horizontal{
-webkit-mask-image: url(ArrowsOutHorizontalIcon.svg);
mask-image: url(ArrowsOutHorizontalIcon.svg);
}
.pi-attachment-filled{
-webkit-mask-image: url(AttachmentFilledIcon.svg);
mask-image: url(AttachmentFilledIcon.svg);
}
.pi-attachment{
-webkit-mask-image: url(AttachmentIcon.svg);
mask-image: url(AttachmentIcon.svg);
}
.pi-automation-filled{
-webkit-mask-image: url(AutomationFilledIcon.svg);
mask-image: url(AutomationFilledIcon.svg);
}
.pi-automation{
-webkit-mask-image: url(AutomationIcon.svg);
mask-image: url(AutomationIcon.svg);
}
.pi-backspace{
-webkit-mask-image: url(BackspaceIcon.svg);
mask-image: url(BackspaceIcon.svg);
}
.pi-bank-filled{
-webkit-mask-image: url(BankFilledIcon.svg);
mask-image: url(BankFilledIcon.svg);
}
.pi-bank{
-webkit-mask-image: url(BankIcon.svg);
mask-image: url(BankIcon.svg);
}
.pi-barcode{
-webkit-mask-image: url(BarcodeIcon.svg);
mask-image: url(BarcodeIcon.svg);
}
.pi-bill-filled{
-webkit-mask-image: url(BillFilledIcon.svg);
mask-image: url(BillFilledIcon.svg);
}
.pi-bill{
-webkit-mask-image: url(BillIcon.svg);
mask-image: url(BillIcon.svg);
}
.pi-blank-filled{
-webkit-mask-image: url(BlankFilledIcon.svg);
mask-image: url(BlankFilledIcon.svg);
}
.pi-blank{
-webkit-mask-image: url(BlankIcon.svg);
mask-image: url(BlankIcon.svg);
}
.pi-blog{
-webkit-mask-image: url(BlogIcon.svg);
mask-image: url(BlogIcon.svg);
}
.pi-book{
-webkit-mask-image: url(BookIcon.svg);
mask-image: url(BookIcon.svg);
}
.pi-book-open{
-webkit-mask-image: url(BookOpenIcon.svg);
mask-image: url(BookOpenIcon.svg);
}
.pi-bug{
-webkit-mask-image: url(BugIcon.svg);
mask-image: url(BugIcon.svg);
}
.pi-bullet{
-webkit-mask-image: url(BulletIcon.svg);
mask-image: url(BulletIcon.svg);
}
.pi-button{
-webkit-mask-image: url(ButtonIcon.svg);
mask-image: url(ButtonIcon.svg);
}
.pi-button-press{
-webkit-mask-image: url(ButtonPressIcon.svg);
mask-image: url(ButtonPressIcon.svg);
}
.pi-calculator{
-webkit-mask-image: url(CalculatorIcon.svg);
mask-image: url(CalculatorIcon.svg);
}
.pi-calendar-check{
-webkit-mask-image: url(CalendarCheckIcon.svg);
mask-image: url(CalendarCheckIcon.svg);
}
.pi-calendar{
-webkit-mask-image: url(CalendarIcon.svg);
mask-image: url(CalendarIcon.svg);
}
.pi-calendar-time{
-webkit-mask-image: url(CalendarTimeIcon.svg);
mask-image: url(CalendarTimeIcon.svg);
}
.pi-camera-flip{
-webkit-mask-image: url(CameraFlipIcon.svg);
mask-image: url(CameraFlipIcon.svg);
}
.pi-camera{
-webkit-mask-image: url(CameraIcon.svg);
mask-image: url(CameraIcon.svg);
}
.pi-caret-down{
-webkit-mask-image: url(CaretDownIcon.svg);
mask-image: url(CaretDownIcon.svg);
}
.pi-caret-up{
-webkit-mask-image: url(CaretUpIcon.svg);
mask-image: url(CaretUpIcon.svg);
}
.pi-cart-abandoned-filled{
-webkit-mask-image: url(CartAbandonedFilledIcon.svg);
mask-image: url(CartAbandonedFilledIcon.svg);
}
.pi-cart-abandoned{
-webkit-mask-image: url(CartAbandonedIcon.svg);
mask-image: url(CartAbandonedIcon.svg);
}
.pi-cart-discount{
-webkit-mask-image: url(CartDiscountIcon.svg);
mask-image: url(CartDiscountIcon.svg);
}
.pi-cart-down-filled{
-webkit-mask-image: url(CartDownFilledIcon.svg);
mask-image: url(CartDownFilledIcon.svg);
}
.pi-cart-down{
-webkit-mask-image: url(CartDownIcon.svg);
mask-image: url(CartDownIcon.svg);
}
.pi-cart-filled{
-webkit-mask-image: url(CartFilledIcon.svg);
mask-image: url(CartFilledIcon.svg);
}
.pi-cart{
-webkit-mask-image: url(CartIcon.svg);
mask-image: url(CartIcon.svg);
}
.pi-cart-sale{
-webkit-mask-image: url(CartSaleIcon.svg);
mask-image: url(CartSaleIcon.svg);
}
.pi-cart-up{
-webkit-mask-image: url(CartUpIcon.svg);
mask-image: url(CartUpIcon.svg);
}
.pi-cash-dollar-filled{
-webkit-mask-image: url(CashDollarFilledIcon.svg);
mask-image: url(CashDollarFilledIcon.svg);
}
.pi-cash-dollar{
-webkit-mask-image: url(CashDollarIcon.svg);
mask-image: url(CashDollarIcon.svg);
}
.pi-cash-euro{
-webkit-mask-image: url(CashEuroIcon.svg);
mask-image: url(CashEuroIcon.svg);
}
.pi-cash-pound{
-webkit-mask-image: url(CashPoundIcon.svg);
mask-image: url(CashPoundIcon.svg);
}
.pi-cash-rupee{
-webkit-mask-image: url(CashRupeeIcon.svg);
mask-image: url(CashRupeeIcon.svg);
}
.pi-cash-yen{
-webkit-mask-image: url(CashYenIcon.svg);
mask-image: url(CashYenIcon.svg);
}
.pi-categories{
-webkit-mask-image: url(CategoriesIcon.svg);
mask-image: url(CategoriesIcon.svg);
}
.pi-channels{
-webkit-mask-image: url(ChannelsIcon.svg);
mask-image: url(ChannelsIcon.svg);
}
.pi-chart-cohort{
-webkit-mask-image: url(ChartCohortIcon.svg);
mask-image: url(ChartCohortIcon.svg);
}
.pi-chart-donut{
-webkit-mask-image: url(ChartDonutIcon.svg);
mask-image: url(ChartDonutIcon.svg);
}
.pi-chart-funnel{
-webkit-mask-image: url(ChartFunnelIcon.svg);
mask-image: url(ChartFunnelIcon.svg);
}
.pi-chart-histogram-first{
-webkit-mask-image: url(ChartHistogramFirstIcon.svg);
mask-image: url(ChartHistogramFirstIcon.svg);
}
.pi-chart-histogram-first-last{
-webkit-mask-image: url(ChartHistogramFirstLastIcon.svg);
mask-image: url(ChartHistogramFirstLastIcon.svg);
}
.pi-chart-histogram-flat{
-webkit-mask-image: url(ChartHistogramFlatIcon.svg);
mask-image: url(ChartHistogramFlatIcon.svg);
}
.pi-chart-histogram-full{
-webkit-mask-image: url(ChartHistogramFullIcon.svg);
mask-image: url(ChartHistogramFullIcon.svg);
}
.pi-chart-histogram-growth{
-webkit-mask-image: url(ChartHistogramGrowthIcon.svg);
mask-image: url(ChartHistogramGrowthIcon.svg);
}
.pi-chart-histogram-last{
-webkit-mask-image: url(ChartHistogramLastIcon.svg);
mask-image: url(ChartHistogramLastIcon.svg);
}
.pi-chart-histogram-second-last{
-webkit-mask-image: url(ChartHistogramSecondLastIcon.svg);
mask-image: url(ChartHistogramSecondLastIcon.svg);
}
.pi-chart-horizontal{
-webkit-mask-image: url(ChartHorizontalIcon.svg);
mask-image: url(ChartHorizontalIcon.svg);
}
.pi-chart-line{
-webkit-mask-image: url(ChartLineIcon.svg);
mask-image: url(ChartLineIcon.svg);
}
.pi-chart-popular{
-webkit-mask-image: url(ChartPopularIcon.svg);
mask-image: url(ChartPopularIcon.svg);
}
.pi-chart-stacked{
-webkit-mask-image: url(ChartStackedIcon.svg);
mask-image: url(ChartStackedIcon.svg);
}
.pi-chart-vertical-filled{
-webkit-mask-image: url(ChartVerticalFilledIcon.svg);
mask-image: url(ChartVerticalFilledIcon.svg);
}
.pi-chart-vertical{
-webkit-mask-image: url(ChartVerticalIcon.svg);
mask-image: url(ChartVerticalIcon.svg);
}
.pi-chat{
-webkit-mask-image: url(ChatIcon.svg);
mask-image: url(ChatIcon.svg);
}
.pi-chat-referral{
-webkit-mask-image: url(ChatReferralIcon.svg);
mask-image: url(ChatReferralIcon.svg);
}
.pi-check-circle{
-webkit-mask-image: url(CheckCircleIcon.svg);
mask-image: url(CheckCircleIcon.svg);
}
.pi-check{
-webkit-mask-image: url(CheckIcon.svg);
mask-image: url(CheckIcon.svg);
}
.pi-check-small{
-webkit-mask-image: url(CheckSmallIcon.svg);
mask-image: url(CheckSmallIcon.svg);
}
.pi-checkbox{
-webkit-mask-image: url(CheckboxIcon.svg);
mask-image: url(CheckboxIcon.svg);
}
.pi-chevron-down{
-webkit-mask-image: url(ChevronDownIcon.svg);
mask-image: url(ChevronDownIcon.svg);
}
.pi-chevron-left{
-webkit-mask-image: url(ChevronLeftIcon.svg);
mask-image: url(ChevronLeftIcon.svg);
}
.pi-chevron-right{
-webkit-mask-image: url(ChevronRightIcon.svg);
mask-image: url(ChevronRightIcon.svg);
}
.pi-chevron-up{
-webkit-mask-image: url(ChevronUpIcon.svg);
mask-image: url(ChevronUpIcon.svg);
}
.pi-circle-chevron-down{
-webkit-mask-image: url(CircleChevronDownIcon.svg);
mask-image: url(CircleChevronDownIcon.svg);
}
.pi-circle-chevron-left{
-webkit-mask-image: url(CircleChevronLeftIcon.svg);
mask-image: url(CircleChevronLeftIcon.svg);
}
.pi-circle-chevron-right{
-webkit-mask-image: url(CircleChevronRightIcon.svg);
mask-image: url(CircleChevronRightIcon.svg);
}
.pi-circle-chevron-up{
-webkit-mask-image: url(CircleChevronUpIcon.svg);
mask-image: url(CircleChevronUpIcon.svg);
}
.pi-circle-down{
-webkit-mask-image: url(CircleDownIcon.svg);
mask-image: url(CircleDownIcon.svg);
}
.pi-circle-left{
-webkit-mask-image: url(CircleLeftIcon.svg);
mask-image: url(CircleLeftIcon.svg);
}
.pi-circle-right{
-webkit-mask-image: url(CircleRightIcon.svg);
mask-image: url(CircleRightIcon.svg);
}
.pi-circle-up{
-webkit-mask-image: url(CircleUpIcon.svg);
mask-image: url(CircleUpIcon.svg);
}
.pi-clipboard-check-filled{
-webkit-mask-image: url(ClipboardCheckFilledIcon.svg);
mask-image: url(ClipboardCheckFilledIcon.svg);
}
.pi-clipboard-check{
-webkit-mask-image: url(ClipboardCheckIcon.svg);
mask-image: url(ClipboardCheckIcon.svg);
}
.pi-clipboard-checklist{
-webkit-mask-image: url(ClipboardChecklistIcon.svg);
mask-image: url(ClipboardChecklistIcon.svg);
}
.pi-clipboard{
-webkit-mask-image: url(ClipboardIcon.svg);
mask-image: url(ClipboardIcon.svg);
}
.pi-clock{
-webkit-mask-image: url(ClockIcon.svg);
mask-image: url(ClockIcon.svg);
}
.pi-code-add{
-webkit-mask-image: url(CodeAddIcon.svg);
mask-image: url(CodeAddIcon.svg);
}
.pi-code{
-webkit-mask-image: url(CodeIcon.svg);
mask-image: url(CodeIcon.svg);
}
.pi-collection-featured{
-webkit-mask-image: url(CollectionFeaturedIcon.svg);
mask-image: url(CollectionFeaturedIcon.svg);
}
.pi-collection-filled{
-webkit-mask-image: url(CollectionFilledIcon.svg);
mask-image: url(CollectionFilledIcon.svg);
}
.pi-collection{
-webkit-mask-image: url(CollectionIcon.svg);
mask-image: url(CollectionIcon.svg);
}
.pi-collection-list{
-webkit-mask-image: url(CollectionListIcon.svg);
mask-image: url(CollectionListIcon.svg);
}
.pi-collection-reference{
-webkit-mask-image: url(CollectionReferenceIcon.svg);
mask-image: url(CollectionReferenceIcon.svg);
}
.pi-color{
-webkit-mask-image: url(ColorIcon.svg);
mask-image: url(ColorIcon.svg);
}
.pi-color-none{
-webkit-mask-image: url(ColorNoneIcon.svg);
mask-image: url(ColorNoneIcon.svg);
}
.pi-compass{
-webkit-mask-image: url(CompassIcon.svg);
mask-image: url(CompassIcon.svg);
}
.pi-compose{
-webkit-mask-image: url(ComposeIcon.svg);
mask-image: url(ComposeIcon.svg);
}
.pi-confetti{
-webkit-mask-image: url(ConfettiIcon.svg);
mask-image: url(ConfettiIcon.svg);
}
.pi-connect{
-webkit-mask-image: url(ConnectIcon.svg);
mask-image: url(ConnectIcon.svg);
}
.pi-content-filled{
-webkit-mask-image: url(ContentFilledIcon.svg);
mask-image: url(ContentFilledIcon.svg);
}
.pi-content{
-webkit-mask-image: url(ContentIcon.svg);
mask-image: url(ContentIcon.svg);
}
.pi-contract-filled{
-webkit-mask-image: url(ContractFilledIcon.svg);
mask-image: url(ContractFilledIcon.svg);
}
.pi-contract{
-webkit-mask-image: url(ContractIcon.svg);
mask-image: url(ContractIcon.svg);
}
.pi-corner-pill{
-webkit-mask-image: url(CornerPillIcon.svg);
mask-image: url(CornerPillIcon.svg);
}
.pi-corner-round{
-webkit-mask-image: url(CornerRoundIcon.svg);
mask-image: url(CornerRoundIcon.svg);
}
.pi-corner-square{
-webkit-mask-image: url(CornerSquareIcon.svg);
mask-image: url(CornerSquareIcon.svg);
}
.pi-credit-card-cancel{
-webkit-mask-image: url(CreditCardCancelIcon.svg);
mask-image: url(CreditCardCancelIcon.svg);
}
.pi-credit-card{
-webkit-mask-image: url(CreditCardIcon.svg);
mask-image: url(CreditCardIcon.svg);
}
.pi-credit-card-percent{
-webkit-mask-image: url(CreditCardPercentIcon.svg);
mask-image: url(CreditCardPercentIcon.svg);
}
.pi-credit-card-reader-chip{
-webkit-mask-image: url(CreditCardReaderChipIcon.svg);
mask-image: url(CreditCardReaderChipIcon.svg);
}
.pi-credit-card-reader{
-webkit-mask-image: url(CreditCardReaderIcon.svg);
mask-image: url(CreditCardReaderIcon.svg);
}
.pi-credit-card-reader-tap{
-webkit-mask-image: url(CreditCardReaderTapIcon.svg);
mask-image: url(CreditCardReaderTapIcon.svg);
}
.pi-credit-card-secure{
-webkit-mask-image: url(CreditCardSecureIcon.svg);
mask-image: url(CreditCardSecureIcon.svg);
}
.pi-credit-card-tap-chip{
-webkit-mask-image: url(CreditCardTapChipIcon.svg);
mask-image: url(CreditCardTapChipIcon.svg);
}
.pi-crop{
-webkit-mask-image: url(CropIcon.svg);
mask-image: url(CropIcon.svg);
}
.pi-currency-convert{
-webkit-mask-image: url(CurrencyConvertIcon.svg);
mask-image: url(CurrencyConvertIcon.svg);
}
.pi-cursor-banner{
-webkit-mask-image: url(CursorBannerIcon.svg);
mask-image: url(CursorBannerIcon.svg);
}
.pi-cursor-filled{
-webkit-mask-image: url(CursorFilledIcon.svg);
mask-image: url(CursorFilledIcon.svg);
}
.pi-cursor{
-webkit-mask-image: url(CursorIcon.svg);
mask-image: url(CursorIcon.svg);
}
.pi-cursor-option{
-webkit-mask-image: url(CursorOptionIcon.svg);
mask-image: url(CursorOptionIcon.svg);
}
.pi-data-presentation{
-webkit-mask-image: url(DataPresentationIcon.svg);
mask-image: url(DataPresentationIcon.svg);
}
.pi-data-table{
-webkit-mask-image: url(DataTableIcon.svg);
mask-image: url(DataTableIcon.svg);
}
.pi-database-add{
-webkit-mask-image: url(DatabaseAddIcon.svg);
mask-image: url(DatabaseAddIcon.svg);
}
.pi-database-connect{
-webkit-mask-image: url(DatabaseConnectIcon.svg);
mask-image: url(DatabaseConnectIcon.svg);
}
.pi-database{
-webkit-mask-image: url(DatabaseIcon.svg);
mask-image: url(DatabaseIcon.svg);
}
.pi-delete{
-webkit-mask-image: url(DeleteIcon.svg);
mask-image: url(DeleteIcon.svg);
}
.pi-delivery-filled{
-webkit-mask-image: url(DeliveryFilledIcon.svg);
mask-image: url(DeliveryFilledIcon.svg);
}
.pi-delivery{
-webkit-mask-image: url(DeliveryIcon.svg);
mask-image: url(DeliveryIcon.svg);
}
.pi-desktop{
-webkit-mask-image: url(DesktopIcon.svg);
mask-image: url(DesktopIcon.svg);
}
.pi-disabled{
-webkit-mask-image: url(DisabledIcon.svg);
mask-image: url(DisabledIcon.svg);
}
.pi-discount-code{
-webkit-mask-image: url(DiscountCodeIcon.svg);
mask-image: url(DiscountCodeIcon.svg);
}
.pi-discount-filled{
-webkit-mask-image: url(DiscountFilledIcon.svg);
mask-image: url(DiscountFilledIcon.svg);
}
.pi-discount{
-webkit-mask-image: url(DiscountIcon.svg);
mask-image: url(DiscountIcon.svg);
}
.pi-dns-settings{
-webkit-mask-image: url(DnsSettingsIcon.svg);
mask-image: url(DnsSettingsIcon.svg);
}
.pi-dock-floating{
-webkit-mask-image: url(DockFloatingIcon.svg);
mask-image: url(DockFloatingIcon.svg);
}
.pi-dock-side{
-webkit-mask-image: url(DockSideIcon.svg);
mask-image: url(DockSideIcon.svg);
}
.pi-domain-filled{
-webkit-mask-image: url(DomainFilledIcon.svg);
mask-image: url(DomainFilledIcon.svg);
}
.pi-domain{
-webkit-mask-image: url(DomainIcon.svg);
mask-image: url(DomainIcon.svg);
}
.pi-domain-landing-page{
-webkit-mask-image: url(DomainLandingPageIcon.svg);
mask-image: url(DomainLandingPageIcon.svg);
}
.pi-domain-new{
-webkit-mask-image: url(DomainNewIcon.svg);
mask-image: url(DomainNewIcon.svg);
}
.pi-domain-redirect{
-webkit-mask-image: url(DomainRedirectIcon.svg);
mask-image: url(DomainRedirectIcon.svg);
}
.pi-drag-drop{
-webkit-mask-image: url(DragDropIcon.svg);
mask-image: url(DragDropIcon.svg);
}
.pi-drag-handle{
-webkit-mask-image: url(DragHandleIcon.svg);
mask-image: url(DragHandleIcon.svg);
}
.pi-duplicate{
-webkit-mask-image: url(DuplicateIcon.svg);
mask-image: url(DuplicateIcon.svg);
}
.pi-edit{
-webkit-mask-image: url(EditIcon.svg);
mask-image: url(EditIcon.svg);
}
.pi-email-follow-up{
-webkit-mask-image: url(EmailFollowUpIcon.svg);
mask-image: url(EmailFollowUpIcon.svg);
}
.pi-email{
-webkit-mask-image: url(EmailIcon.svg);
mask-image: url(EmailIcon.svg);
}
.pi-email-newsletter{
-webkit-mask-image: url(EmailNewsletterIcon.svg);
mask-image: url(EmailNewsletterIcon.svg);
}
.pi-enter{
-webkit-mask-image: url(EnterIcon.svg);
mask-image: url(EnterIcon.svg);
}
.pi-envelope{
-webkit-mask-image: url(EnvelopeIcon.svg);
mask-image: url(EnvelopeIcon.svg);
}
.pi-envelope-soft-pack{
-webkit-mask-image: url(EnvelopeSoftPackIcon.svg);
mask-image: url(EnvelopeSoftPackIcon.svg);
}
.pi-exchange{
-webkit-mask-image: url(ExchangeIcon.svg);
mask-image: url(ExchangeIcon.svg);
}
.pi-exit{
-webkit-mask-image: url(ExitIcon.svg);
mask-image: url(ExitIcon.svg);
}
.pi-export{
-webkit-mask-image: url(ExportIcon.svg);
mask-image: url(ExportIcon.svg);
}
.pi-external{
-webkit-mask-image: url(ExternalIcon.svg);
mask-image: url(ExternalIcon.svg);
}
.pi-external-small{
-webkit-mask-image: url(ExternalSmallIcon.svg);
mask-image: url(ExternalSmallIcon.svg);
}
.pi-eye-check-mark{
-webkit-mask-image: url(EyeCheckMarkIcon.svg);
mask-image: url(EyeCheckMarkIcon.svg);
}
.pi-eye-dropper{
-webkit-mask-image: url(EyeDropperIcon.svg);
mask-image: url(EyeDropperIcon.svg);
}
.pi-eye-first{
-webkit-mask-image: url(EyeFirstIcon.svg);
mask-image: url(EyeFirstIcon.svg);
}
.pi-eyeglasses{
-webkit-mask-image: url(EyeglassesIcon.svg);
mask-image: url(EyeglassesIcon.svg);
}
.pi-favicon{
-webkit-mask-image: url(FaviconIcon.svg);
mask-image: url(FaviconIcon.svg);
}
.pi-file-filled{
-webkit-mask-image: url(FileFilledIcon.svg);
mask-image: url(FileFilledIcon.svg);
}
.pi-file{
-webkit-mask-image: url(FileIcon.svg);
mask-image: url(FileIcon.svg);
}
.pi-filter{
-webkit-mask-image: url(FilterIcon.svg);
mask-image: url(FilterIcon.svg);
}
.pi-flag{
-webkit-mask-image: url(FlagIcon.svg);
mask-image: url(FlagIcon.svg);
}
.pi-flip-horizontal{
-webkit-mask-image: url(FlipHorizontalIcon.svg);
mask-image: url(FlipHorizontalIcon.svg);
}
.pi-flip-vertical{
-webkit-mask-image: url(FlipVerticalIcon.svg);
mask-image: url(FlipVerticalIcon.svg);
}
.pi-flower-filled{
-webkit-mask-image: url(FlowerFilledIcon.svg);
mask-image: url(FlowerFilledIcon.svg);
}
.pi-flower{
-webkit-mask-image: url(FlowerIcon.svg);
mask-image: url(FlowerIcon.svg);
}
.pi-folder-add{
-webkit-mask-image: url(FolderAddIcon.svg);
mask-image: url(FolderAddIcon.svg);
}
.pi-folder-down{
-webkit-mask-image: url(FolderDownIcon.svg);
mask-image: url(FolderDownIcon.svg);
}
.pi-folder{
-webkit-mask-image: url(FolderIcon.svg);
mask-image: url(FolderIcon.svg);
}
.pi-folder-remove{
-webkit-mask-image: url(FolderRemoveIcon.svg);
mask-image: url(FolderRemoveIcon.svg);
}
.pi-folder-up{
-webkit-mask-image: url(FolderUpIcon.svg);
mask-image: url(FolderUpIcon.svg);
}
.pi-food{
-webkit-mask-image: url(FoodIcon.svg);
mask-image: url(FoodIcon.svg);
}
.pi-forklift{
-webkit-mask-image: url(ForkliftIcon.svg);
mask-image: url(ForkliftIcon.svg);
}
.pi-forms{
-webkit-mask-image: url(FormsIcon.svg);
mask-image: url(FormsIcon.svg);
}
.pi-games{
-webkit-mask-image: url(GamesIcon.svg);
mask-image: url(GamesIcon.svg);
}
.pi-gauge{
-webkit-mask-image: url(GaugeIcon.svg);
mask-image: url(GaugeIcon.svg);
}
.pi-gift-card-filled{
-webkit-mask-image: url(GiftCardFilledIcon.svg);
mask-image: url(GiftCardFilledIcon.svg);
}
.pi-gift-card{
-webkit-mask-image: url(GiftCardIcon.svg);
mask-image: url(GiftCardIcon.svg);
}
.pi-globe-asia-filled{
-webkit-mask-image: url(GlobeAsiaFilledIcon.svg);
mask-image: url(GlobeAsiaFilledIcon.svg);
}
.pi-globe-asia{
-webkit-mask-image: url(GlobeAsiaIcon.svg);
mask-image: url(GlobeAsiaIcon.svg);
}
.pi-globe-e-u-filled{
-webkit-mask-image: url(GlobeEUFilledIcon.svg);
mask-image: url(GlobeEUFilledIcon.svg);
}
.pi-globe-e-u{
-webkit-mask-image: url(GlobeEUIcon.svg);
mask-image: url(GlobeEUIcon.svg);
}
.pi-globe-filled{
-webkit-mask-image: url(GlobeFilledIcon.svg);
mask-image: url(GlobeFilledIcon.svg);
}
.pi-globe{
-webkit-mask-image: url(GlobeIcon.svg);
mask-image: url(GlobeIcon.svg);
}
.pi-hashtag-decimal{
-webkit-mask-image: url(HashtagDecimalIcon.svg);
mask-image: url(HashtagDecimalIcon.svg);
}
.pi-hashtag{
-webkit-mask-image: url(HashtagIcon.svg);
mask-image: url(HashtagIcon.svg);
}
.pi-heart{
-webkit-mask-image: url(HeartIcon.svg);
mask-image: url(HeartIcon.svg);
}
.pi-hide{
-webkit-mask-image: url(HideIcon.svg);
mask-image: url(HideIcon.svg);
}
.pi-home-filled{
-webkit-mask-image: url(HomeFilledIcon.svg);
mask-image: url(HomeFilledIcon.svg);
}
.pi-home{
-webkit-mask-image: url(HomeIcon.svg);
mask-image: url(HomeIcon.svg);
}
.pi-icons-filled{
-webkit-mask-image: url(IconsFilledIcon.svg);
mask-image: url(IconsFilledIcon.svg);
}
.pi-icons{
-webkit-mask-image: url(IconsIcon.svg);
mask-image: url(IconsIcon.svg);
}
.pi-identity-card-filled{
-webkit-mask-image: url(IdentityCardFilledIcon.svg);
mask-image: url(IdentityCardFilledIcon.svg);
}
.pi-identity-card{
-webkit-mask-image: url(IdentityCardIcon.svg);
mask-image: url(IdentityCardIcon.svg);
}
.pi-image-add{
-webkit-mask-image: url(ImageAddIcon.svg);
mask-image: url(ImageAddIcon.svg);
}
.pi-image-alt{
-webkit-mask-image: url(ImageAltIcon.svg);
mask-image: url(ImageAltIcon.svg);
}
.pi-image-explore{
-webkit-mask-image: url(ImageExploreIcon.svg);
mask-image: url(ImageExploreIcon.svg);
}
.pi-image{
-webkit-mask-image: url(ImageIcon.svg);
mask-image: url(ImageIcon.svg);
}
.pi-image-magic{
-webkit-mask-image: url(ImageMagicIcon.svg);
mask-image: url(ImageMagicIcon.svg);
}
.pi-image-with-text-overlay{
-webkit-mask-image: url(ImageWithTextOverlayIcon.svg);
mask-image: url(ImageWithTextOverlayIcon.svg);
}
.pi-images{
-webkit-mask-image: url(ImagesIcon.svg);
mask-image: url(ImagesIcon.svg);
}
.pi-import{
-webkit-mask-image: url(ImportIcon.svg);
mask-image: url(ImportIcon.svg);
}
.pi-incentive{
-webkit-mask-image: url(IncentiveIcon.svg);
mask-image: url(IncentiveIcon.svg);
}
.pi-incoming{
-webkit-mask-image: url(IncomingIcon.svg);
mask-image: url(IncomingIcon.svg);
}
.pi-info{
-webkit-mask-image: url(InfoIcon.svg);
mask-image: url(InfoIcon.svg);
}
.pi-inventory-filled{
-webkit-mask-image: url(InventoryFilledIcon.svg);
mask-image: url(InventoryFilledIcon.svg);
}
.pi-inventory{
-webkit-mask-image: url(InventoryIcon.svg);
mask-image: url(InventoryIcon.svg);
}
.pi-inventory-updated{
-webkit-mask-image: url(InventoryUpdatedIcon.svg);
mask-image: url(InventoryUpdatedIcon.svg);
}
.pi-iq{
-webkit-mask-image: url(IqIcon.svg);
mask-image: url(IqIcon.svg);
}
.pi-key{
-webkit-mask-image: url(KeyIcon.svg);
mask-image: url(KeyIcon.svg);
}
.pi-keyboard-hide{
-webkit-mask-image: url(KeyboardHideIcon.svg);
mask-image: url(KeyboardHideIcon.svg);
}
.pi-keyboard{
-webkit-mask-image: url(KeyboardIcon.svg);
mask-image: url(KeyboardIcon.svg);
}
.pi-label-printer{
-webkit-mask-image: url(LabelPrinterIcon.svg);
mask-image: url(LabelPrinterIcon.svg);
}
.pi-language-filled{
-webkit-mask-image: url(LanguageFilledIcon.svg);
mask-image: url(LanguageFilledIcon.svg);
}
.pi-language{
-webkit-mask-image: url(LanguageIcon.svg);
mask-image: url(LanguageIcon.svg);
}
.pi-language-translate{
-webkit-mask-image: url(LanguageTranslateIcon.svg);
mask-image: url(LanguageTranslateIcon.svg);
}
.pi-layout-block{
-webkit-mask-image: url(LayoutBlockIcon.svg);
mask-image: url(LayoutBlockIcon.svg);
}
.pi-layout-buy-button-horizontal{
-webkit-mask-image: url(LayoutBuyButtonHorizontalIcon.svg);
mask-image: url(LayoutBuyButtonHorizontalIcon.svg);
}
.pi-layout-buy-button{
-webkit-mask-image: url(LayoutBuyButtonIcon.svg);
mask-image: url(LayoutBuyButtonIcon.svg);
}
.pi-layout-buy-button-vertical{
-webkit-mask-image: url(LayoutBuyButtonVerticalIcon.svg);
mask-image: url(LayoutBuyButtonVerticalIcon.svg);
}
.pi-layout-column1{
-webkit-mask-image: url(LayoutColumn1Icon.svg);
mask-image: url(LayoutColumn1Icon.svg);
}
.pi-layout-columns2{
-webkit-mask-image: url(LayoutColumns2Icon.svg);
mask-image: url(LayoutColumns2Icon.svg);
}
.pi-layout-columns3{
-webkit-mask-image: url(LayoutColumns3Icon.svg);
mask-image: url(LayoutColumns3Icon.svg);
}
.pi-layout-footer{
-webkit-mask-image: url(LayoutFooterIcon.svg);
mask-image: url(LayoutFooterIcon.svg);
}
.pi-layout-header{
-webkit-mask-image: url(LayoutHeaderIcon.svg);
mask-image: url(LayoutHeaderIcon.svg);
}
.pi-layout-logo-block{
-webkit-mask-image: url(LayoutLogoBlockIcon.svg);
mask-image: url(LayoutLogoBlockIcon.svg);
}
.pi-layout-popup{
-webkit-mask-image: url(LayoutPopupIcon.svg);
mask-image: url(LayoutPopupIcon.svg);
}
.pi-layout-rows2{
-webkit-mask-image: url(LayoutRows2Icon.svg);
mask-image: url(LayoutRows2Icon.svg);
}
.pi-layout-section{
-webkit-mask-image: url(LayoutSectionIcon.svg);
mask-image: url(LayoutSectionIcon.svg);
}
.pi-layout-sidebar-left{
-webkit-mask-image: url(LayoutSidebarLeftIcon.svg);
mask-image: url(LayoutSidebarLeftIcon.svg);
}
.pi-layout-sidebar-right{
-webkit-mask-image: url(LayoutSidebarRightIcon.svg);
mask-image: url(LayoutSidebarRightIcon.svg);
}
.pi-lightbulb{
-webkit-mask-image: url(LightbulbIcon.svg);
mask-image: url(LightbulbIcon.svg);
}
.pi-link{
-webkit-mask-image: url(LinkIcon.svg);
mask-image: url(LinkIcon.svg);
}
.pi-list-bulleted-filled{
-webkit-mask-image: url(ListBulletedFilledIcon.svg);
mask-image: url(ListBulletedFilledIcon.svg);
}
.pi-list-bulleted{
-webkit-mask-image: url(ListBulletedIcon.svg);
mask-image: url(ListBulletedIcon.svg);
}
.pi-list-numbered{
-webkit-mask-image: url(ListNumberedIcon.svg);
mask-image: url(ListNumberedIcon.svg);
}
.pi-live-filled{
-webkit-mask-image: url(LiveFilledIcon.svg);
mask-image: url(LiveFilledIcon.svg);
}
.pi-live{
-webkit-mask-image: url(LiveIcon.svg);
mask-image: url(LiveIcon.svg);
}
.pi-location-filled{
-webkit-mask-image: url(LocationFilledIcon.svg);
mask-image: url(LocationFilledIcon.svg);
}
.pi-location{
-webkit-mask-image: url(LocationIcon.svg);
mask-image: url(LocationIcon.svg);
}
.pi-location-none{
-webkit-mask-image: url(LocationNoneIcon.svg);
mask-image: url(LocationNoneIcon.svg);
}
.pi-lock-filled{
-webkit-mask-image: url(LockFilledIcon.svg);
mask-image: url(LockFilledIcon.svg);
}
.pi-lock{
-webkit-mask-image: url(LockIcon.svg);
mask-image: url(LockIcon.svg);
}
.pi-logo-criteo{
-webkit-mask-image: url(LogoCriteoIcon.svg);
mask-image: url(LogoCriteoIcon.svg);
}
.pi-logo-facebook{
-webkit-mask-image: url(LogoFacebookIcon.svg);
mask-image: url(LogoFacebookIcon.svg);
}
.pi-logo-google{
-webkit-mask-image: url(LogoGoogleIcon.svg);
mask-image: url(LogoGoogleIcon.svg);
}
.pi-logo-instagram{
-webkit-mask-image: url(LogoInstagramIcon.svg);
mask-image: url(LogoInstagramIcon.svg);
}
.pi-logo-meta{
-webkit-mask-image: url(LogoMetaIcon.svg);
mask-image: url(LogoMetaIcon.svg);
}
.pi-logo-pinterest{
-webkit-mask-image: url(LogoPinterestIcon.svg);
mask-image: url(LogoPinterestIcon.svg);
}
.pi-logo-snapchat{
-webkit-mask-image: url(LogoSnapchatIcon.svg);
mask-image: url(LogoSnapchatIcon.svg);
}
.pi-logo-tiktok{
-webkit-mask-image: url(LogoTiktokIcon.svg);
mask-image: url(LogoTiktokIcon.svg);
}
.pi-logo-tumblr{
-webkit-mask-image: url(LogoTumblrIcon.svg);
mask-image: url(LogoTumblrIcon.svg);
}
.pi-logo-twitch{
-webkit-mask-image: url(LogoTwitchIcon.svg);
mask-image: url(LogoTwitchIcon.svg);
}
.pi-logo-vimeo{
-webkit-mask-image: url(LogoVimeoIcon.svg);
mask-image: url(LogoVimeoIcon.svg);
}
.pi-logo-x{
-webkit-mask-image: url(LogoXIcon.svg);
mask-image: url(LogoXIcon.svg);
}
.pi-logo-youtube{
-webkit-mask-image: url(LogoYoutubeIcon.svg);
mask-image: url(LogoYoutubeIcon.svg);
}
.pi-magic{
-webkit-mask-image: url(MagicIcon.svg);
mask-image: url(MagicIcon.svg);
}
.pi-markets-euro-filled{
-webkit-mask-image: url(MarketsEuroFilledIcon.svg);
mask-image: url(MarketsEuroFilledIcon.svg);
}
.pi-markets-euro{
-webkit-mask-image: url(MarketsEuroIcon.svg);
mask-image: url(MarketsEuroIcon.svg);
}
.pi-markets-filled{
-webkit-mask-image: url(MarketsFilledIcon.svg);
mask-image: url(MarketsFilledIcon.svg);
}
.pi-markets{
-webkit-mask-image: url(MarketsIcon.svg);
mask-image: url(MarketsIcon.svg);
}
.pi-markets-rupee-filled{
-webkit-mask-image: url(MarketsRupeeFilledIcon.svg);
mask-image: url(MarketsRupeeFilledIcon.svg);
}
.pi-markets-rupee{
-webkit-mask-image: url(MarketsRupeeIcon.svg);
mask-image: url(MarketsRupeeIcon.svg);
}
.pi-markets-yen-filled{
-webkit-mask-image: url(MarketsYenFilledIcon.svg);
mask-image: url(MarketsYenFilledIcon.svg);
}
.pi-markets-yen{
-webkit-mask-image: url(MarketsYenIcon.svg);
mask-image: url(MarketsYenIcon.svg);
}
.pi-maximize{
-webkit-mask-image: url(MaximizeIcon.svg);
mask-image: url(MaximizeIcon.svg);
}
.pi-measurement-size{
-webkit-mask-image: url(MeasurementSizeIcon.svg);
mask-image: url(MeasurementSizeIcon.svg);
}
.pi-measurement-volume{
-webkit-mask-image: url(MeasurementVolumeIcon.svg);
mask-image: url(MeasurementVolumeIcon.svg);
}
.pi-measurement-weight{
-webkit-mask-image: url(MeasurementWeightIcon.svg);
mask-image: url(MeasurementWeightIcon.svg);
}
.pi-media-receiver{
-webkit-mask-image: url(MediaReceiverIcon.svg);
mask-image: url(MediaReceiverIcon.svg);
}
.pi-megaphone-filled{
-webkit-mask-image: url(MegaphoneFilledIcon.svg);
mask-image: url(MegaphoneFilledIcon.svg);
}
.pi-megaphone{
-webkit-mask-image: url(MegaphoneIcon.svg);
mask-image: url(MegaphoneIcon.svg);
}
.pi-mention{
-webkit-mask-image: url(MentionIcon.svg);
mask-image: url(MentionIcon.svg);
}
.pi-menu-horizontal{
-webkit-mask-image: url(MenuHorizontalIcon.svg);
mask-image: url(MenuHorizontalIcon.svg);
}
.pi-menu{
-webkit-mask-image: url(MenuIcon.svg);
mask-image: url(MenuIcon.svg);
}
.pi-menu-vertical{
-webkit-mask-image: url(MenuVerticalIcon.svg);
mask-image: url(MenuVerticalIcon.svg);
}
.pi-merge{
-webkit-mask-image: url(MergeIcon.svg);
mask-image: url(MergeIcon.svg);
}
.pi-metafields-filled{
-webkit-mask-image: url(MetafieldsFilledIcon.svg);
mask-image: url(MetafieldsFilledIcon.svg);
}
.pi-metafields{
-webkit-mask-image: url(MetafieldsIcon.svg);
mask-image: url(MetafieldsIcon.svg);
}
.pi-metaobject-filled{
-webkit-mask-image: url(MetaobjectFilledIcon.svg);
mask-image: url(MetaobjectFilledIcon.svg);
}
.pi-metaobject{
-webkit-mask-image: url(MetaobjectIcon.svg);
mask-image: url(MetaobjectIcon.svg);
}
.pi-metaobject-list{
-webkit-mask-image: url(MetaobjectListIcon.svg);
mask-image: url(MetaobjectListIcon.svg);
}
.pi-metaobject-reference{
-webkit-mask-image: url(MetaobjectReferenceIcon.svg);
mask-image: url(MetaobjectReferenceIcon.svg);
}
.pi-microphone{
-webkit-mask-image: url(MicrophoneIcon.svg);
mask-image: url(MicrophoneIcon.svg);
}
.pi-minimize{
-webkit-mask-image: url(MinimizeIcon.svg);
mask-image: url(MinimizeIcon.svg);
}
.pi-minus-circle{
-webkit-mask-image: url(MinusCircleIcon.svg);
mask-image: url(MinusCircleIcon.svg);
}
.pi-minus{
-webkit-mask-image: url(MinusIcon.svg);
mask-image: url(MinusIcon.svg);
}
.pi-mobile{
-webkit-mask-image: url(MobileIcon.svg);
mask-image: url(MobileIcon.svg);
}
.pi-money-filled{
-webkit-mask-image: url(MoneyFilledIcon.svg);
mask-image: url(MoneyFilledIcon.svg);
}
.pi-money{
-webkit-mask-image: url(MoneyIcon.svg);
mask-image: url(MoneyIcon.svg);
}
.pi-money-none{
-webkit-mask-image: url(MoneyNoneIcon.svg);
mask-image: url(MoneyNoneIcon.svg);
}
.pi-moon{
-webkit-mask-image: url(MoonIcon.svg);
mask-image: url(MoonIcon.svg);
}
.pi-nature{
-webkit-mask-image: url(NatureIcon.svg);
mask-image: url(NatureIcon.svg);
}
.pi-note-add{
-webkit-mask-image: url(NoteAddIcon.svg);
mask-image: url(NoteAddIcon.svg);
}
.pi-note{
-webkit-mask-image: url(NoteIcon.svg);
mask-image: url(NoteIcon.svg);
}
.pi-notification-filled{
-webkit-mask-image: url(NotificationFilledIcon.svg);
mask-image: url(NotificationFilledIcon.svg);
}
.pi-notification{
-webkit-mask-image: url(NotificationIcon.svg);
mask-image: url(NotificationIcon.svg);
}
.pi-order-draft-filled{
-webkit-mask-image: url(OrderDraftFilledIcon.svg);
mask-image: url(OrderDraftFilledIcon.svg);
}
.pi-order-draft{
-webkit-mask-image: url(OrderDraftIcon.svg);
mask-image: url(OrderDraftIcon.svg);
}
.pi-order-filled{
-webkit-mask-image: url(OrderFilledIcon.svg);
mask-image: url(OrderFilledIcon.svg);
}
.pi-order-first{
-webkit-mask-image: url(OrderFirstIcon.svg);
mask-image: url(OrderFirstIcon.svg);
}
.pi-order-fulfilled{
-webkit-mask-image: url(OrderFulfilledIcon.svg);
mask-image: url(OrderFulfilledIcon.svg);
}
.pi-order{
-webkit-mask-image: url(OrderIcon.svg);
mask-image: url(OrderIcon.svg);
}
.pi-order-repeat{
-webkit-mask-image: url(OrderRepeatIcon.svg);
mask-image: url(OrderRepeatIcon.svg);
}
.pi-order-unfulfilled{
-webkit-mask-image: url(OrderUnfulfilledIcon.svg);
mask-image: url(OrderUnfulfilledIcon.svg);
}
.pi-orders-status{
-webkit-mask-image: url(OrdersStatusIcon.svg);
mask-image: url(OrdersStatusIcon.svg);
}
.pi-organization{
-webkit-mask-image: url(OrganizationIcon.svg);
mask-image: url(OrganizationIcon.svg);
}
.pi-outdent{
-webkit-mask-image: url(OutdentIcon.svg);
mask-image: url(OutdentIcon.svg);
}
.pi-outgoing{
-webkit-mask-image: url(OutgoingIcon.svg);
mask-image: url(OutgoingIcon.svg);
}
.pi-package-filled{
-webkit-mask-image: url(PackageFilledIcon.svg);
mask-image: url(PackageFilledIcon.svg);
}
.pi-package-fulfilled{
-webkit-mask-image: url(PackageFulfilledIcon.svg);
mask-image: url(PackageFulfilledIcon.svg);
}
.pi-package{
-webkit-mask-image: url(PackageIcon.svg);
mask-image: url(PackageIcon.svg);
}
.pi-package-on-hold{
-webkit-mask-image: url(PackageOnHoldIcon.svg);
mask-image: url(PackageOnHoldIcon.svg);
}
.pi-package-returned{
-webkit-mask-image: url(PackageReturnedIcon.svg);
mask-image: url(PackageReturnedIcon.svg);
}
.pi-page-add{
-webkit-mask-image: url(PageAddIcon.svg);
mask-image: url(PageAddIcon.svg);
}
.pi-page-attachment{
-webkit-mask-image: url(PageAttachmentIcon.svg);
mask-image: url(PageAttachmentIcon.svg);
}
.pi-page-clock-filled{
-webkit-mask-image: url(PageClockFilledIcon.svg);
mask-image: url(PageClockFilledIcon.svg);
}
.pi-page-clock{
-webkit-mask-image: url(PageClockIcon.svg);
mask-image: url(PageClockIcon.svg);
}
.pi-page-down{
-webkit-mask-image: url(PageDownIcon.svg);
mask-image: url(PageDownIcon.svg);
}
.pi-page-heart{
-webkit-mask-image: url(PageHeartIcon.svg);
mask-image: url(PageHeartIcon.svg);
}
.pi-page{
-webkit-mask-image: url(PageIcon.svg);
mask-image: url(PageIcon.svg);
}
.pi-page-reference{
-webkit-mask-image: url(PageReferenceIcon.svg);
mask-image: url(PageReferenceIcon.svg);
}
.pi-page-remove{
-webkit-mask-image: url(PageRemoveIcon.svg);
mask-image: url(PageRemoveIcon.svg);
}
.pi-page-up{
-webkit-mask-image: url(PageUpIcon.svg);
mask-image: url(PageUpIcon.svg);
}
.pi-pagination-end{
-webkit-mask-image: url(PaginationEndIcon.svg);
mask-image: url(PaginationEndIcon.svg);
}
.pi-pagination-start{
-webkit-mask-image: url(PaginationStartIcon.svg);
mask-image: url(PaginationStartIcon.svg);
}
.pi-paint-brush-flat{
-webkit-mask-image: url(PaintBrushFlatIcon.svg);
mask-image: url(PaintBrushFlatIcon.svg);
}
.pi-paint-brush-round{
-webkit-mask-image: url(PaintBrushRoundIcon.svg);
mask-image: url(PaintBrushRoundIcon.svg);
}
.pi-paper-check{
-webkit-mask-image: url(PaperCheckIcon.svg);
mask-image: url(PaperCheckIcon.svg);
}
.pi-passkey-filled{
-webkit-mask-image: url(PasskeyFilledIcon.svg);
mask-image: url(PasskeyFilledIcon.svg);
}
.pi-passkey{
-webkit-mask-image: url(PasskeyIcon.svg);
mask-image: url(PasskeyIcon.svg);
}
.pi-pause-circle{
-webkit-mask-image: url(PauseCircleIcon.svg);
mask-image: url(PauseCircleIcon.svg);
}
.pi-payment-capture{
-webkit-mask-image: url(PaymentCaptureIcon.svg);
mask-image: url(PaymentCaptureIcon.svg);
}
.pi-payment-filled{
-webkit-mask-image: url(PaymentFilledIcon.svg);
mask-image: url(PaymentFilledIcon.svg);
}
.pi-payment{
-webkit-mask-image: url(PaymentIcon.svg);
mask-image: url(PaymentIcon.svg);
}
.pi-person-add{
-webkit-mask-image: url(PersonAddIcon.svg);
mask-image: url(PersonAddIcon.svg);
}
.pi-person-exit{
-webkit-mask-image: url(PersonExitIcon.svg);
mask-image: url(PersonExitIcon.svg);
}
.pi-person-filled{
-webkit-mask-image: url(PersonFilledIcon.svg);
mask-image: url(PersonFilledIcon.svg);
}
.pi-person{
-webkit-mask-image: url(PersonIcon.svg);
mask-image: url(PersonIcon.svg);
}
.pi-person-lock-filled{
-webkit-mask-image: url(PersonLockFilledIcon.svg);
mask-image: url(PersonLockFilledIcon.svg);
}
.pi-person-lock{
-webkit-mask-image: url(PersonLockIcon.svg);
mask-image: url(PersonLockIcon.svg);
}
.pi-person-remove{
-webkit-mask-image: url(PersonRemoveIcon.svg);
mask-image: url(PersonRemoveIcon.svg);
}
.pi-person-segment{
-webkit-mask-image: url(PersonSegmentIcon.svg);
mask-image: url(PersonSegmentIcon.svg);
}
.pi-personalized-text{
-webkit-mask-image: url(PersonalizedTextIcon.svg);
mask-image: url(PersonalizedTextIcon.svg);
}
.pi-phone{
-webkit-mask-image: url(PhoneIcon.svg);
mask-image: url(PhoneIcon.svg);
}
.pi-phone-in{
-webkit-mask-image: url(PhoneInIcon.svg);
mask-image: url(PhoneInIcon.svg);
}
.pi-phone-out{
-webkit-mask-image: url(PhoneOutIcon.svg);
mask-image: url(PhoneOutIcon.svg);
}
.pi-pin-filled{
-webkit-mask-image: url(PinFilledIcon.svg);
mask-image: url(PinFilledIcon.svg);
}
.pi-pin{
-webkit-mask-image: url(PinIcon.svg);
mask-image: url(PinIcon.svg);
}
.pi-plan-filled{
-webkit-mask-image: url(PlanFilledIcon.svg);
mask-image: url(PlanFilledIcon.svg);
}
.pi-plan{
-webkit-mask-image: url(PlanIcon.svg);
mask-image: url(PlanIcon.svg);
}
.pi-play-circle{
-webkit-mask-image: url(PlayCircleIcon.svg);
mask-image: url(PlayCircleIcon.svg);
}
.pi-play{
-webkit-mask-image: url(PlayIcon.svg);
mask-image: url(PlayIcon.svg);
}
.pi-plus-circle{
-webkit-mask-image: url(PlusCircleIcon.svg);
mask-image: url(PlusCircleIcon.svg);
}
.pi-plus{
-webkit-mask-image: url(PlusIcon.svg);
mask-image: url(PlusIcon.svg);
}
.pi-point-of-sale{
-webkit-mask-image: url(PointOfSaleIcon.svg);
mask-image: url(PointOfSaleIcon.svg);
}
.pi-price-list-filled{
-webkit-mask-image: url(PriceListFilledIcon.svg);
mask-image: url(PriceListFilledIcon.svg);
}
.pi-price-list{
-webkit-mask-image: url(PriceListIcon.svg);
mask-image: url(PriceListIcon.svg);
}
.pi-print{
-webkit-mask-image: url(PrintIcon.svg);
mask-image: url(PrintIcon.svg);
}
.pi-product-add{
-webkit-mask-image: url(ProductAddIcon.svg);
mask-image: url(ProductAddIcon.svg);
}
.pi-product-cost{
-webkit-mask-image: url(ProductCostIcon.svg);
mask-image: url(ProductCostIcon.svg);
}
.pi-product-filled{
-webkit-mask-image: url(ProductFilledIcon.svg);
mask-image: url(ProductFilledIcon.svg);
}
.pi-product{
-webkit-mask-image: url(ProductIcon.svg);
mask-image: url(ProductIcon.svg);
}
.pi-product-list{
-webkit-mask-image: url(ProductListIcon.svg);
mask-image: url(ProductListIcon.svg);
}
.pi-product-reference{
-webkit-mask-image: url(ProductReferenceIcon.svg);
mask-image: url(ProductReferenceIcon.svg);
}
.pi-product-remove{
-webkit-mask-image: url(ProductRemoveIcon.svg);
mask-image: url(ProductRemoveIcon.svg);
}
.pi-product-return{
-webkit-mask-image: url(ProductReturnIcon.svg);
mask-image: url(ProductReturnIcon.svg);
}
.pi-profile{
-webkit-mask-image: url(ProfileIcon.svg);
mask-image: url(ProfileIcon.svg);
}
.pi-question-circle{
-webkit-mask-image: url(QuestionCircleIcon.svg);
mask-image: url(QuestionCircleIcon.svg);
}
.pi-receipt-dollar-filled{
-webkit-mask-image: url(ReceiptDollarFilledIcon.svg);
mask-image: url(ReceiptDollarFilledIcon.svg);
}
.pi-receipt-dollar{
-webkit-mask-image: url(ReceiptDollarIcon.svg);
mask-image: url(ReceiptDollarIcon.svg);
}
.pi-receipt-euro-filled{
-webkit-mask-image: url(ReceiptEuroFilledIcon.svg);
mask-image: url(ReceiptEuroFilledIcon.svg);
}
.pi-receipt-euro{
-webkit-mask-image: url(ReceiptEuroIcon.svg);
mask-image: url(ReceiptEuroIcon.svg);
}
.pi-receipt{
-webkit-mask-image: url(ReceiptIcon.svg);
mask-image: url(ReceiptIcon.svg);
}
.pi-receipt-paid{
-webkit-mask-image: url(ReceiptPaidIcon.svg);
mask-image: url(ReceiptPaidIcon.svg);
}
.pi-receipt-pound-filled{
-webkit-mask-image: url(ReceiptPoundFilledIcon.svg);
mask-image: url(ReceiptPoundFilledIcon.svg);
}
.pi-receipt-pound{
-webkit-mask-image: url(ReceiptPoundIcon.svg);
mask-image: url(ReceiptPoundIcon.svg);
}
.pi-receipt-refund{
-webkit-mask-image: url(ReceiptRefundIcon.svg);
mask-image: url(ReceiptRefundIcon.svg);
}
.pi-receipt-rupee-filled{
-webkit-mask-image: url(ReceiptRupeeFilledIcon.svg);
mask-image: url(ReceiptRupeeFilledIcon.svg);
}
.pi-receipt-rupee{
-webkit-mask-image: url(ReceiptRupeeIcon.svg);
mask-image: url(ReceiptRupeeIcon.svg);
}
.pi-receipt-yen-filled{
-webkit-mask-image: url(ReceiptYenFilledIcon.svg);
mask-image: url(ReceiptYenFilledIcon.svg);
}
.pi-receipt-yen{
-webkit-mask-image: url(ReceiptYenIcon.svg);
mask-image: url(ReceiptYenIcon.svg);
}
.pi-redo{
-webkit-mask-image: url(RedoIcon.svg);
mask-image: url(RedoIcon.svg);
}
.pi-referral-code{
-webkit-mask-image: url(ReferralCodeIcon.svg);
mask-image: url(ReferralCodeIcon.svg);
}
.pi-refresh{
-webkit-mask-image: url(RefreshIcon.svg);
mask-image: url(RefreshIcon.svg);
}
.pi-remove-background{
-webkit-mask-image: url(RemoveBackgroundIcon.svg);
mask-image: url(RemoveBackgroundIcon.svg);
}
.pi-replace{
-webkit-mask-image: url(ReplaceIcon.svg);
mask-image: url(ReplaceIcon.svg);
}
.pi-replay{
-webkit-mask-image: url(ReplayIcon.svg);
mask-image: url(ReplayIcon.svg);
}
.pi-reset{
-webkit-mask-image: url(ResetIcon.svg);
mask-image: url(ResetIcon.svg);
}
.pi-return{
-webkit-mask-image: url(ReturnIcon.svg);
mask-image: url(ReturnIcon.svg);
}
.pi-reward{
-webkit-mask-image: url(RewardIcon.svg);
mask-image: url(RewardIcon.svg);
}
.pi-rotate-left{
-webkit-mask-image: url(RotateLeftIcon.svg);
mask-image: url(RotateLeftIcon.svg);
}
.pi-rotate-right{
-webkit-mask-image: url(RotateRightIcon.svg);
mask-image: url(RotateRightIcon.svg);
}
.pi-sandbox{
-webkit-mask-image: url(SandboxIcon.svg);
mask-image: url(SandboxIcon.svg);
}
.pi-save{
-webkit-mask-image: url(SaveIcon.svg);
mask-image: url(SaveIcon.svg);
}
.pi-search{
-webkit-mask-image: url(SearchIcon.svg);
mask-image: url(SearchIcon.svg);
}
.pi-search-list{
-webkit-mask-image: url(SearchListIcon.svg);
mask-image: url(SearchListIcon.svg);
}
.pi-search-recent{
-webkit-mask-image: url(SearchRecentIcon.svg);
mask-image: url(SearchRecentIcon.svg);
}
.pi-search-resource{
-webkit-mask-image: url(SearchResourceIcon.svg);
mask-image: url(SearchResourceIcon.svg);
}
.pi-select{
-webkit-mask-image: url(SelectIcon.svg);
mask-image: url(SelectIcon.svg);
}
.pi-send{
-webkit-mask-image: url(SendIcon.svg);
mask-image: url(SendIcon.svg);
}
.pi-settings-filled{
-webkit-mask-image: url(SettingsFilledIcon.svg);
mask-image: url(SettingsFilledIcon.svg);
}
.pi-settings{
-webkit-mask-image: url(SettingsIcon.svg);
mask-image: url(SettingsIcon.svg);
}
.pi-share{
-webkit-mask-image: url(ShareIcon.svg);
mask-image: url(ShareIcon.svg);
}
.pi-shield-check-mark{
-webkit-mask-image: url(ShieldCheckMarkIcon.svg);
mask-image: url(ShieldCheckMarkIcon.svg);
}
.pi-shield-none{
-webkit-mask-image: url(ShieldNoneIcon.svg);
mask-image: url(ShieldNoneIcon.svg);
}
.pi-shield-pending{
-webkit-mask-image: url(ShieldPendingIcon.svg);
mask-image: url(ShieldPendingIcon.svg);
}
.pi-shield-person{
-webkit-mask-image: url(ShieldPersonIcon.svg);
mask-image: url(ShieldPersonIcon.svg);
}
.pi-shipping-label-filled{
-webkit-mask-image: url(ShippingLabelFilledIcon.svg);
mask-image: url(ShippingLabelFilledIcon.svg);
}
.pi-shipping-label{
-webkit-mask-image: url(ShippingLabelIcon.svg);
mask-image: url(ShippingLabelIcon.svg);
}
.pi-shopcodes{
-webkit-mask-image: url(ShopcodesIcon.svg);
mask-image: url(ShopcodesIcon.svg);
}
.pi-sidekick{
-webkit-mask-image: url(SidekickIcon.svg);
mask-image: url(SidekickIcon.svg);
}
.pi-skeleton{
-webkit-mask-image: url(SkeletonIcon.svg);
mask-image: url(SkeletonIcon.svg);
}
.pi-slideshow{
-webkit-mask-image: url(SlideshowIcon.svg);
mask-image: url(SlideshowIcon.svg);
}
.pi-smiley-happy{
-webkit-mask-image: url(SmileyHappyIcon.svg);
mask-image: url(SmileyHappyIcon.svg);
}
.pi-smiley-joy{
-webkit-mask-image: url(SmileyJoyIcon.svg);
mask-image: url(SmileyJoyIcon.svg);
}
.pi-smiley-neutral{
-webkit-mask-image: url(SmileyNeutralIcon.svg);
mask-image: url(SmileyNeutralIcon.svg);
}
.pi-smiley-sad{
-webkit-mask-image: url(SmileySadIcon.svg);
mask-image: url(SmileySadIcon.svg);
}
.pi-social-ad{
-webkit-mask-image: url(SocialAdIcon.svg);
mask-image: url(SocialAdIcon.svg);
}
.pi-social-post{
-webkit-mask-image: url(SocialPostIcon.svg);
mask-image: url(SocialPostIcon.svg);
}
.pi-sort-ascending{
-webkit-mask-image: url(SortAscendingIcon.svg);
mask-image: url(SortAscendingIcon.svg);
}
.pi-sort-descending{
-webkit-mask-image: url(SortDescendingIcon.svg);
mask-image: url(SortDescendingIcon.svg);
}
.pi-sort{
-webkit-mask-image: url(SortIcon.svg);
mask-image: url(SortIcon.svg);
}
.pi-sound{
-webkit-mask-image: url(SoundIcon.svg);
mask-image: url(SoundIcon.svg);
}
.pi-sports{
-webkit-mask-image: url(SportsIcon.svg);
mask-image: url(SportsIcon.svg);
}
.pi-star-filled{
-webkit-mask-image: url(StarFilledIcon.svg);
mask-image: url(StarFilledIcon.svg);
}
.pi-star{
-webkit-mask-image: url(StarIcon.svg);
mask-image: url(StarIcon.svg);
}
.pi-status-active{
-webkit-mask-image: url(StatusActiveIcon.svg);
mask-image: url(StatusActiveIcon.svg);
}
.pi-status{
-webkit-mask-image: url(StatusIcon.svg);
mask-image: url(StatusIcon.svg);
}
.pi-stop-circle{
-webkit-mask-image: url(StopCircleIcon.svg);
mask-image: url(StopCircleIcon.svg);
}
.pi-store-filled{
-webkit-mask-image: url(StoreFilledIcon.svg);
mask-image: url(StoreFilledIcon.svg);
}
.pi-store{
-webkit-mask-image: url(StoreIcon.svg);
mask-image: url(StoreIcon.svg);
}
.pi-store-import{
-webkit-mask-image: url(StoreImportIcon.svg);
mask-image: url(StoreImportIcon.svg);
}
.pi-store-managed{
-webkit-mask-image: url(StoreManagedIcon.svg);
mask-image: url(StoreManagedIcon.svg);
}
.pi-store-online{
-webkit-mask-image: url(StoreOnlineIcon.svg);
mask-image: url(StoreOnlineIcon.svg);
}
.pi-sun{
-webkit-mask-image: url(SunIcon.svg);
mask-image: url(SunIcon.svg);
}
.pi-tablet{
-webkit-mask-image: url(TabletIcon.svg);
mask-image: url(TabletIcon.svg);
}
.pi-target-filled{
-webkit-mask-image: url(TargetFilledIcon.svg);
mask-image: url(TargetFilledIcon.svg);
}
.pi-target{
-webkit-mask-image: url(TargetIcon.svg);
mask-image: url(TargetIcon.svg);
}
.pi-tax-filled{
-webkit-mask-image: url(TaxFilledIcon.svg);
mask-image: url(TaxFilledIcon.svg);
}
.pi-tax{
-webkit-mask-image: url(TaxIcon.svg);
mask-image: url(TaxIcon.svg);
}
.pi-team{
-webkit-mask-image: url(TeamIcon.svg);
mask-image: url(TeamIcon.svg);
}
.pi-text-align-center{
-webkit-mask-image: url(TextAlignCenterIcon.svg);
mask-image: url(TextAlignCenterIcon.svg);
}
.pi-text-align-left{
-webkit-mask-image: url(TextAlignLeftIcon.svg);
mask-image: url(TextAlignLeftIcon.svg);
}
.pi-text-align-right{
-webkit-mask-image: url(TextAlignRightIcon.svg);
mask-image: url(TextAlignRightIcon.svg);
}
.pi-text-block{
-webkit-mask-image: url(TextBlockIcon.svg);
mask-image: url(TextBlockIcon.svg);
}
.pi-text-bold{
-webkit-mask-image: url(TextBoldIcon.svg);
mask-image: url(TextBoldIcon.svg);
}
.pi-text-color{
-webkit-mask-image: url(TextColorIcon.svg);
mask-image: url(TextColorIcon.svg);
}
.pi-text-font{
-webkit-mask-image: url(TextFontIcon.svg);
mask-image: url(TextFontIcon.svg);
}
.pi-text-font-list{
-webkit-mask-image: url(TextFontListIcon.svg);
mask-image: url(TextFontListIcon.svg);
}
.pi-text-grammar{
-webkit-mask-image: url(TextGrammarIcon.svg);
mask-image: url(TextGrammarIcon.svg);
}
.pi-text{
-webkit-mask-image: url(TextIcon.svg);
mask-image: url(TextIcon.svg);
}
.pi-text-in-columns{
-webkit-mask-image: url(TextInColumnsIcon.svg);
mask-image: url(TextInColumnsIcon.svg);
}
.pi-text-in-rows-filled{
-webkit-mask-image: url(TextInRowsFilledIcon.svg);
mask-image: url(TextInRowsFilledIcon.svg);
}
.pi-text-in-rows{
-webkit-mask-image: url(TextInRowsIcon.svg);
mask-image: url(TextInRowsIcon.svg);
}
.pi-text-indent{
-webkit-mask-image: url(TextIndentIcon.svg);
mask-image: url(TextIndentIcon.svg);
}
.pi-text-italic{
-webkit-mask-image: url(TextItalicIcon.svg);
mask-image: url(TextItalicIcon.svg);
}
.pi-text-quote{
-webkit-mask-image: url(TextQuoteIcon.svg);
mask-image: url(TextQuoteIcon.svg);
}
.pi-text-title{
-webkit-mask-image: url(TextTitleIcon.svg);
mask-image: url(TextTitleIcon.svg);
}
.pi-text-underline{
-webkit-mask-image: url(TextUnderlineIcon.svg);
mask-image: url(TextUnderlineIcon.svg);
}
.pi-text-with-image{
-webkit-mask-image: url(TextWithImageIcon.svg);
mask-image: url(TextWithImageIcon.svg);
}
.pi-theme-edit{
-webkit-mask-image: url(ThemeEditIcon.svg);
mask-image: url(ThemeEditIcon.svg);
}
.pi-theme{
-webkit-mask-image: url(ThemeIcon.svg);
mask-image: url(ThemeIcon.svg);
}
.pi-theme-store{
-webkit-mask-image: url(ThemeStoreIcon.svg);
mask-image: url(ThemeStoreIcon.svg);
}
.pi-theme-template{
-webkit-mask-image: url(ThemeTemplateIcon.svg);
mask-image: url(ThemeTemplateIcon.svg);
}
.pi-thumbs-down{
-webkit-mask-image: url(ThumbsDownIcon.svg);
mask-image: url(ThumbsDownIcon.svg);
}
.pi-thumbs-up{
-webkit-mask-image: url(ThumbsUpIcon.svg);
mask-image: url(ThumbsUpIcon.svg);
}
.pi-tip-jar{
-webkit-mask-image: url(TipJarIcon.svg);
mask-image: url(TipJarIcon.svg);
}
.pi-toggle-off{
-webkit-mask-image: url(ToggleOffIcon.svg);
mask-image: url(ToggleOffIcon.svg);
}
.pi-toggle-on{
-webkit-mask-image: url(ToggleOnIcon.svg);
mask-image: url(ToggleOnIcon.svg);
}
.pi-transaction-fee-dollar{
-webkit-mask-image: url(TransactionFeeDollarIcon.svg);
mask-image: url(TransactionFeeDollarIcon.svg);
}
.pi-transaction-fee-euro{
-webkit-mask-image: url(TransactionFeeEuroIcon.svg);
mask-image: url(TransactionFeeEuroIcon.svg);
}
.pi-transaction-fee-pound{
-webkit-mask-image: url(TransactionFeePoundIcon.svg);
mask-image: url(TransactionFeePoundIcon.svg);
}
.pi-transaction-fee-rupee{
-webkit-mask-image: url(TransactionFeeRupeeIcon.svg);
mask-image: url(TransactionFeeRupeeIcon.svg);
}
.pi-transaction-fee-yen{
-webkit-mask-image: url(TransactionFeeYenIcon.svg);
mask-image: url(TransactionFeeYenIcon.svg);
}
.pi-transaction{
-webkit-mask-image: url(TransactionIcon.svg);
mask-image: url(TransactionIcon.svg);
}
.pi-transfer{
-webkit-mask-image: url(TransferIcon.svg);
mask-image: url(TransferIcon.svg);
}
.pi-transfer-in{
-webkit-mask-image: url(TransferInIcon.svg);
mask-image: url(TransferInIcon.svg);
}
.pi-transfer-internal{
-webkit-mask-image: url(TransferInternalIcon.svg);
mask-image: url(TransferInternalIcon.svg);
}
.pi-transfer-out{
-webkit-mask-image: url(TransferOutIcon.svg);
mask-image: url(TransferOutIcon.svg);
}
.pi-undo{
-webkit-mask-image: url(UndoIcon.svg);
mask-image: url(UndoIcon.svg);
}
.pi-unknown-device{
-webkit-mask-image: url(UnknownDeviceIcon.svg);
mask-image: url(UnknownDeviceIcon.svg);
}
.pi-upload{
-webkit-mask-image: url(UploadIcon.svg);
mask-image: url(UploadIcon.svg);
}
.pi-variant{
-webkit-mask-image: url(VariantIcon.svg);
mask-image: url(VariantIcon.svg);
}
.pi-view{
-webkit-mask-image: url(ViewIcon.svg);
mask-image: url(ViewIcon.svg);
}
.pi-viewport-narrow{
-webkit-mask-image: url(ViewportNarrowIcon.svg);
mask-image: url(ViewportNarrowIcon.svg);
}
.pi-viewport-short{
-webkit-mask-image: url(ViewportShortIcon.svg);
mask-image: url(ViewportShortIcon.svg);
}
.pi-viewport-tall{
-webkit-mask-image: url(ViewportTallIcon.svg);
mask-image: url(ViewportTallIcon.svg);
}
.pi-viewport-wide{
-webkit-mask-image: url(ViewportWideIcon.svg);
mask-image: url(ViewportWideIcon.svg);
}
.pi-wallet-filled{
-webkit-mask-image: url(WalletFilledIcon.svg);
mask-image: url(WalletFilledIcon.svg);
}
.pi-wallet{
-webkit-mask-image: url(WalletIcon.svg);
mask-image: url(WalletIcon.svg);
}
.pi-wand{
-webkit-mask-image: url(WandIcon.svg);
mask-image: url(WandIcon.svg);
}
.pi-watch{
-webkit-mask-image: url(WatchIcon.svg);
mask-image: url(WatchIcon.svg);
}
.pi-wifi{
-webkit-mask-image: url(WifiIcon.svg);
mask-image: url(WifiIcon.svg);
}
.pi-work-filled{
-webkit-mask-image: url(WorkFilledIcon.svg);
mask-image: url(WorkFilledIcon.svg);
}
.pi-work{
-webkit-mask-image: url(WorkIcon.svg);
mask-image: url(WorkIcon.svg);
}
.pi-wrench{
-webkit-mask-image: url(WrenchIcon.svg);
mask-image: url(WrenchIcon.svg);
}
.pi-x-circle{
-webkit-mask-image: url(XCircleIcon.svg);
mask-image: url(XCircleIcon.svg);
}
.pi-x{
-webkit-mask-image: url(XIcon.svg);
mask-image: url(XIcon.svg);
}
.pi-x-small{
-webkit-mask-image: url(XSmallIcon.svg);
mask-image: url(XSmallIcon.svg);
}
